product-card {
  @media (min-width: 1440px) {
    width: 20%;
  }
  @media (max-width: 1440px) {
    width: 25%;
  }
  @media (max-width: 960px) {
    width: 33%;
  }
  @media (max-width: 720px) {
    width: 50%;
  }
  @media (max-width: 540px) {
    width: 100%;
  }
  ion-card {
    background: #ffffff;
    height: calc(100% - 20px);
    padding-bottom: 36px;
    position: relative;
    ion-img {
      min-height: 150px;
    }
    .card-footer {
      padding-top: 16px;
      width: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      bottom: 0;
      right: 0;
      justify-content: flex-start;
      .flag-wrapper {
        margin-left: 16px;
        i {
          border: 1px solid #e6e6e6;
        }
      }
      .platforms-wrapper {
        display: flex;
        margin-left: auto;
        justify-content: flex-end;
      }
    }
  }
}
