:host {
  display: block;
  background-color: var(--ion-color-primary, #3880ff);

  p {
    padding: 16px 16px;
    margin: 32px 0 0;
    color: #ffffff;
    & > a {
      color: #ffffff;
    }
    text-align: center;
  }
}
