:host {
  display: block;
  ion-header > ion-toolbar > ion-buttons[slot="end"] {
    @media (max-width: 575.98px) {
      display: none !important;
    }
  }

  h1 {
    font-size: inherit;
    margin: inherit;
    padding: inherit;
  }
  .dom-hide {
    display: none;
  }
  .dom-show {
    display: block;
  }
}
